#body {
  margin: 0;
  padding: 0;
}
#header {
  background-color: blue;
  height: 50px;
}
#container {
  display: flex;
  justify-content: center;
}

#sidebar {
  background-color: green;
  height: 50px;
}
#content {
  background-color: blue;
  height: 50px;
}
#footer {
  background-color: yellow;
  height: 50px;
}
